<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Create Applet</h1>
  </div>

  <div class="row">
    <div class="col-md-9">
      <!-- isim interval -->
      <div ng-show="self.step == 0">
        <form class="col-xs-12" name="appletForm" ng-submit="self.saveApplet()">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="self.applet.name" required>
          </div>
          <div class="form-group">
            <label>Interval</label>
            <input type="number" class="form-control" ng-model="self.applet.interval" required>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Save</button>
        </form>
      </div>
      <!-- servis seç -->
      <div ng-show="self.step == 1">
        <div class="col-xs-12">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="self.searchFilter" placeholder="Search">
          </div>
        </div>
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-3" style="margin-top:15px" ng-repeat="service in self.services | orderBy: 'name' | filter: {name: self.searchFilter}">
              <button class="btn btn-primary btn-block" ng-click="self.selectService(service)">{{service.name}}</button>
            </div>
          </div>
        </div>
      </div>
      <!-- auth -->
      <!-- TODO AUTH BAGLA -->
      <div ng-show="self.step == 2">
        <div class="col-xs-12">
          <h3>Add Account</h3>
          <div class="row">
            <form class="form col-xs-12" name="userpassform" ng-if="self.selectedService.authenticationMethod == 1" ng-submit="self.saveServiceUserPassCredentials()">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" required>
              </div>
              <div>
                <button class="btn btn-primary btn-block" type="submit">Save</button>
              </div>
              <div style="margin-top:15px">
                <button class="btn btn-warning" type="button" ng-click="self.step = self.step - 1">Geri</button>
              </div>
            </form>
            <div class="col-xs-12" ng-if="self.selectedService.authenticationMethod == 2">
              <div>
                <button class="btn btn-info btn-block" type="submit">Authorize</button>
              </div>
              <div style="margin-top:15px">
                <button class="btn btn-warning" type="button" ng-click="self.step = self.step - 1">Geri</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- action seç -->
      <div ng-show="self.step == 3">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-3" style="margin-top:15px" ng-repeat="action in self.actions | orderBy: 'name'">
              <button class="btn btn-primary btn-block" ng-click="self.selectAction(action)">{{action.name}}</button>
            </div>
            <div class="col-xs-12" style="margin-top:15px" ng-if="self.actions.length > 0">
              <button class="btn btn-warning" type="button" ng-click="self.step = self.step - 2">Geri</button>
            </div>
            <div class="col-xs-12" ng-if="self.actions && self.actions.length == 0">
              <div>
                No actions found
              </div>
              <div style="margin-top:15px">
                <button class="btn btn-warning" type="button" ng-click="self.step = self.step - 2">Geri</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- input seç -->
      <div ng-show="self.step == 4">
        <div class="col-xs-12">
          <h3>Prepare Inputs</h3>
          <div class="row">
            <form name="inputForm" class="form col-xs-12" ng-submit="self.saveInputs()">
              <div class="form-group" ng-repeat="input in self.selectedAction.inputs">
                <label>{{input.name}}</label>
                <input type="text" class="form-control" ng-model="input.selectedValue" required>
                <div ng-if="self.getLastActionsOutputs().length == 0">
                  <select class="form-control" ng-model="self.dummy" ng-options="output.name as output.slug for output in self.getLastActionOutputs()">
                    <option selected disabled>Select output from last action</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-primary btn-block" type="submit">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{self.applet.name || "Untitled Applet"}}</h3>
        </div>
        <div class="panel-body">
          <p ng-if="self.applet.interval">Interval: {{self.applet.interval}} sn</p>
          <div ng-repeat="action in self.applet.actions">
            <p>{{action.serviceAction.name}}</p>
          </div>
          <div ng-if="self.applet.actions.length == 0">
            <p>Add actions from left</p>
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-warning">Clear All</button>
          <button class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>