<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <script src="/node_modules/angular/angular.js"></script>
  <script src="/node_modules/oclazyload/dist/ocLazyLoad.js"></script>
  <script src="/node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
  <script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script src="/panel/app.module.js" type="text/javascript"></script>
</head>

<body>
  test
  <div ng-app="pablo">
    <div ui-view></div>
  </div>
</body>

</html>